In [268]:
import pandas as pd

In [269]:
symbol_df=pd.read_excel(r"C:\Users\Gautam Aggarwal\Desktop\assignment\List of Stocks case study (1).xlsx")

In [270]:
symbol_df.head()

       Stock Name                        SYMBOL
0  ACC LIMITED                           ACC
1  ADANI PORT & SEZ LTD                  ADANIPORTS
2  ADANI ENTERPRISES LIMITED             ADANIENT
3  ADANI POWER LTD                       ADANIPOWER
4  AMBUJA CEMENTS LTD                    AMBUJACEM

In [271]:
symbol_df.columns

Index(['Stock Name                      ', 'SYMBOL    '], dtype='object')

In [272]:
symbol = symbol_df['SYMBOL    '].tolist()

In [273]:
print(symbol)

['ACC       ', 'ADANIPORTS', 'ADANIENT  ', 'ADANIPOWER', 'AMBUJACEM ', 'APOLLOHOSP', 'ARVIND    ', 'ASIANPAINT', 'AUROPHARMA', 'BAJFINANCE', 'BALKRISIND', 'BANKBARODA', 'BANKINDIA ', 'BERGEPAINT', 'BHEL      ', 'BAJAJFINSV', 'BOSCHLTD  ', 'CADILAHC  ', 'CENTURYTEX', 'CHOLAFIN  ', 'CUMMINSIND', 'DIVISLAB  ', 'DLF       ', 'ENGINERSIN', 'EQUITAS   ', 'ESCORTS   ', 'FEDERALBNK', 'GODREJCP  ', 'GRASIM    ', 'HAVELLS   ', 'HCLTECH   ', 'BSOFT     ', 'HDFCBANK  ', 'HEXAWARE  ', 'HINDPETRO ', 'CANBK     ', 'HINDZINC  ', 'IDEA      ', 'IDFCFIRSTB', 'CASTROLIND', 'INDIGO    ', 'INDUSINDBK', 'INFY      ', 'IOC       ', 'DHFL      ', 'ITC       ', 'JINDALSTEL', 'EICHERMOT ', 'JSWSTEEL  ', 'JUBLFOOD  ', 'JUSTDIAL  ', 'KOTAKBANK ', 'EXIDEIND  ', 'L&TFH     ', 'LUPIN     ', 'M&M       ', 'GLENMARK  ', 'MARICO    ', 'MCDOWELL-N', 'MCX       ', 'MOTHERSUMI', 'MRF       ', 'MUTHOOTFIN', 'NATIONALUM', 'NCC       ', 'ICICIPRULI', 'NESTLEIND ', 'NTPC      ', 'ONGC      ', 'PAGEIND   ', 'INFRATEL  ', 'PFC       ', 'PIDILITIND', 'PNB       ', 'RAMCOCEM  ', 'RAYMOND   ', 'RECLTD    ', 'RELCAPITAL', 'RELIANCE  ', 'SAIL      ', 'SIEMENS   ', 'SRF       ', 'SRTRANSFIN', 'STAR      ', 'TATAGLOBAL', 'TATAPOWER ', 'TCS       ', 'MGL       ', 'TECHM     ', 'MINDTREE  ', 'TORNTPOWER', 'UBL       ', 'UJJIVAN   ', 'UNIONBANK ', 'UPL       ', 'VEDL      ', 'VOLTAS    ', 'WIPRO     ', 'YESBANK   ', 'AMARAJABAT', 'NIITTECH  ', 'RELINFRA  ', 'APOLLOTYRE', 'AXISBANK  ', 'TITAN     ', 'ASHOKLEY  ', 'BAJAJ-AUTO', 'BATAINDIA ', 'BEL       ', 'BHARATFORG', 'BIOCON    ', 'BPCL      ', 'BRITANNIA ', 'CESC      ', 'CIPLA     ', 'COALINDIA ', 'DABUR     ', 'DISHTV    ', 'GAIL      ', 'GMRINFRA  ', 'HDFC      ', 'HEROMOTOCO', 'CONCOR    ', 'HINDALCO  ', 'DRREDDY   ', 'HINDUNILVR', 'IBULHSGFIN', 'IDBI      ', 'IGL       ', 'MANAPPURAM', 'MFSL      ', 'M&MFIN    ', 'MARUTI    ', 'OFSS      ', 'NMDC      ', 'OIL       ', 'POWERGRID ', 'RBLBANK   ', 'SHREECEM  ', 'SUNPHARMA ', 'TATASTEEL ', 'TATAELXSI ', 'TORNTPHARM', 'TVSMOTOR  ', 'ULTRACEMCO', 'ZEEL      ', 'COLPAL    ', 'ICICIBANK ', 'LICHSGFIN ', 'SBIN      ', 'BHARTIARTL', 'LT        ', 'NBCC      ', 'KAJARIACER', 'PEL       ', 'PETRONET  ', 'PVR       ', 'TATACHEM  ', 'TATAMOTORS', 'TATAMTRDVR', 'SUNTV     ']

removing space from strings

In [274]:
symbol_new = []
def remove(string):
    symbol_new.append(string.replace(" ", "")) 
for x in symbol:
      remove(x)

In [275]:
symbol_new

['ACC',
 'ADANIPORTS',
 'ADANIENT',
 'ADANIPOWER',
 'AMBUJACEM',
 'APOLLOHOSP',
 'ARVIND',
 'ASIANPAINT',
 'AUROPHARMA',
 'BAJFINANCE',
 'BALKRISIND',
 'BANKBARODA',
 'BANKINDIA',
 'BERGEPAINT',
 'BHEL',
 'BAJAJFINSV',
 'BOSCHLTD',
 'CADILAHC',
 'CENTURYTEX',
 'CHOLAFIN',
 'CUMMINSIND',
 'DIVISLAB',
 'DLF',
 'ENGINERSIN',
 'EQUITAS',
 'ESCORTS',
 'FEDERALBNK',
 'GODREJCP',
 'GRASIM',
 'HAVELLS',
 'HCLTECH',
 'BSOFT',
 'HDFCBANK',
 'HEXAWARE',
 'HINDPETRO',
 'CANBK',
 'HINDZINC',
 'IDEA',
 'IDFCFIRSTB',
 'CASTROLIND',
 'INDIGO',
 'INDUSINDBK',
 'INFY',
 'IOC',
 'DHFL',
 'ITC',
 'JINDALSTEL',
 'EICHERMOT',
 'JSWSTEEL',
 'JUBLFOOD',
 'JUSTDIAL',
 'KOTAKBANK',
 'EXIDEIND',
 'L&TFH',
 'LUPIN',
 'M&M',
 'GLENMARK',
 'MARICO',
 'MCDOWELL-N',
 'MCX',
 'MOTHERSUMI',
 'MRF',
 'MUTHOOTFIN',
 'NATIONALUM',
 'NCC',
 'ICICIPRULI',
 'NESTLEIND',
 'NTPC',
 'ONGC',
 'PAGEIND',
 'INFRATEL',
 'PFC',
 'PIDILITIND',
 'PNB',
 'RAMCOCEM',
 'RAYMOND',
 'RECLTD',
 'RELCAPITAL',
 'RELIANCE',
 'SAIL',
 'SIEMENS',
 'SRF',
 'SRTRANSFIN',
 'STAR',
 'TATAGLOBAL',
 'TATAPOWER',
 'TCS',
 'MGL',
 'TECHM',
 'MINDTREE',
 'TORNTPOWER',
 'UBL',
 'UJJIVAN',
 'UNIONBANK',
 'UPL',
 'VEDL',
 'VOLTAS',
 'WIPRO',
 'YESBANK',
 'AMARAJABAT',
 'NIITTECH',
 'RELINFRA',
 'APOLLOTYRE',
 'AXISBANK',
 'TITAN',
 'ASHOKLEY',
 'BAJAJ-AUTO',
 'BATAINDIA',
 'BEL',
 'BHARATFORG',
 'BIOCON',
 'BPCL',
 'BRITANNIA',
 'CESC',
 'CIPLA',
 'COALINDIA',
 'DABUR',
 'DISHTV',
 'GAIL',
 'GMRINFRA',
 'HDFC',
 'HEROMOTOCO',
 'CONCOR',
 'HINDALCO',
 'DRREDDY',
 'HINDUNILVR',
 'IBULHSGFIN',
 'IDBI',
 'IGL',
 'MANAPPURAM',
 'MFSL',
 'M&MFIN',
 'MARUTI',
 'OFSS',
 'NMDC',
 'OIL',
 'POWERGRID',
 'RBLBANK',
 'SHREECEM',
 'SUNPHARMA',
 'TATASTEEL',
 'TATAELXSI',
 'TORNTPHARM',
 'TVSMOTOR',
 'ULTRACEMCO',
 'ZEEL',
 'COLPAL',
 'ICICIBANK',
 'LICHSGFIN',
 'SBIN',
 'BHARTIARTL',
 'LT',
 'NBCC',
 'KAJARIACER',
 'PEL',
 'PETRONET',
 'PVR',
 'TATACHEM',
 'TATAMOTORS',
 'TATAMTRDVR',
 'SUNTV']

fetching previous data of 3 months of each symbol/stock

In [282]:
symbol=symbol_new
import datetime
from nsepy import get_history
#for 3 months 
start = datetime.datetime(2021,7,6)
end = datetime.datetime(2021,10,6)
data={}
for s in symbol:
    data[s]=get_history(s,start=start,end=end)

first predicting close value for one symbol ,later will do for each symbol

In [283]:
data["ACC"].head()

,Symbol,Series,Prev Close,Open,High,Low,Last,Close,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,,,,
2021-07-06,ACC,EQ,1982.75,1987.85,2058.55,1983.05,2022.0,2022.85,2032.85,1171831,2.382160e+14,43567,314069,0.2680
2021-07-07,ACC,EQ,2022.85,2031.70,2044.45,2012.90,2035.3,2036.55,2029.01,339727,6.893103e+13,36847,134898,0.3971
2021-07-08,ACC,EQ,2036.55,2041.00,2057.35,2022.00,2027.1,2029.50,2043.36,342553,6.999576e+13,20410,112608,0.3287
2021-07-09,ACC,EQ,2029.50,2029.50,2040.00,2017.10,2036.0,2037.25,2029.13,174442,3.539655e+13,19668,58168,0.3335
2021-07-12,ACC,EQ,2037.25,2042.50,2087.00,2042.50,2072.2,2072.30,2072.35,770557,1.596868e+14,32885,245957,0.3192

In [284]:
data["ACC"].columns

Index(['Symbol', 'Series', 'Prev Close', 'Open', 'High', 'Low', 'Last',
       'Close', 'VWAP', 'Volume', 'Turnover', 'Trades', 'Deliverable Volume',
       '%Deliverble'],
      dtype='object')

In [285]:
X1 = data["ACC"].iloc[:,2:7 ]
X2 = data["ACC"].iloc[:,8: ]
X = pd.concat([X1,X2], axis=1)
print(X.head())

            Prev Close     Open     High      Low    Last     VWAP   Volume  \
Date
2021-07-06     1982.75  1987.85  2058.55  1983.05  2022.0  2032.85  1171831
2021-07-07     2022.85  2031.70  2044.45  2012.90  2035.3  2029.01   339727
2021-07-08     2036.55  2041.00  2057.35  2022.00  2027.1  2043.36   342553
2021-07-09     2029.50  2029.50  2040.00  2017.10  2036.0  2029.13   174442
2021-07-12     2037.25  2042.50  2087.00  2042.50  2072.2  2072.35   770557

                Turnover  Trades  Deliverable Volume  %Deliverble
Date
2021-07-06  2.382160e+14   43567              314069       0.2680
2021-07-07  6.893103e+13   36847              134898       0.3971
2021-07-08  6.999576e+13   20410              112608       0.3287
2021-07-09  3.539655e+13   19668               58168       0.3335
2021-07-12  1.596868e+14   32885              245957       0.3192

In [286]:
X.head()

,Prev Close,Open,High,Low,Last,VWAP,Volume,Turnover,Trades,Deliverable Volume,%Deliverble
Date,,,,,,,,,,,
2021-07-06,1982.75,1987.85,2058.55,1983.05,2022.0,2032.85,1171831,2.382160e+14,43567,314069,0.2680
2021-07-07,2022.85,2031.70,2044.45,2012.90,2035.3,2029.01,339727,6.893103e+13,36847,134898,0.3971
2021-07-08,2036.55,2041.00,2057.35,2022.00,2027.1,2043.36,342553,6.999576e+13,20410,112608,0.3287
2021-07-09,2029.50,2029.50,2040.00,2017.10,2036.0,2029.13,174442,3.539655e+13,19668,58168,0.3335
2021-07-12,2037.25,2042.50,2087.00,2042.50,2072.2,2072.35,770557,1.596868e+14,32885,245957,0.3192

In [287]:
y = data["ACC"]["Close"]

In [288]:
y.head()

Date
2021-07-06    2022.85
2021-07-07    2036.55
2021-07-08    2029.50
2021-07-09    2037.25
2021-07-12    2072.30
Name: Close, dtype: float64

In [289]:
from sklearn.linear_model import LinearRegression

In [290]:
lin_model = LinearRegression()

In [291]:
lin_model.fit(X,y)

LinearRegression()

In [292]:
lin_model.score(X,y)

0.9989695590030719

In [293]:
pred=lin_model.predict(X)

In [294]:
lin_model.score(X,pred)

1.0

In [295]:
pred

array([2021.36105114, 2034.812901  , 2029.11435132, 2034.48476141,
       2071.03716579, 2086.02558732, 2075.18525518, 2113.12855298,
       2131.81654171, 2159.70066723, 2308.34236497, 2291.72264745,
       2340.37627262, 2370.36466206, 2367.96875017, 2388.32180448,
       2371.07137414, 2395.33709981, 2424.45614816, 2429.53924877,
       2400.70284759, 2392.23391587, 2345.49258359, 2322.657502  ,
       2298.25931246, 2269.24774594, 2294.09724932, 2304.30403925,
       2296.86412523, 2308.04489999, 2360.17197975, 2284.42640726,
       2261.44470656, 2275.64758516, 2271.57020215, 2284.47490954,
       2341.6490843 , 2385.59864837, 2409.63636552, 2420.72996924,
       2479.28118352, 2467.17041755, 2472.63359505, 2479.33366013,
       2443.85220336, 2460.03607268, 2472.3585842 , 2447.60059656,
       2463.3118194 , 2429.13371213, 2389.47636994, 2332.9238163 ,
       2332.90653368, 2366.35419513, 2352.77339257, 2298.30838255,
       2326.71171779, 2303.28293927, 2264.63785311, 2254.99073786,
       2239.22463059, 2268.94308946, 2265.37126982, 2205.31194053])

In [296]:
date =X.index
pred=pred.tolist()

In [297]:
result = pd.DataFrame(zip(date, train_pred),
               columns =['date', 'pred_close'])

In [298]:
result.head()

         date  pred_close
0  2021-07-06  528.539581
1  2021-07-07  523.641811
2  2021-07-08  522.479986
3  2021-07-09  522.092323
4  2021-07-12  524.062275

In [299]:
xyz = "acc"

In [300]:
import os
result.to_csv(os.path.join(r"C:\Users\Gautam Aggarwal\Desktop\assignment\output", xyz + ".csv"),index = False)

for all the Symbols

In [301]:
import pandas as pd
symbol_df=pd.read_excel(r"C:\Users\Gautam Aggarwal\Desktop\assignment\List of Stocks case study (1).xlsx")
symbol = symbol_df['SYMBOL    '].tolist()
symbol_new = []
def remove(string):
    symbol_new.append(string.replace(" ", "")) 
for x in symbol:
      remove(x)
symbol=symbol_new
import datetime
from nsepy import get_history
#for 3 months 
start = datetime.datetime(2021,7,6)
end = datetime.datetime(2021,10,6)
data={}
for s in symbol:
    data[s]=get_history(s,start=start,end=end)
for z in symbol:
    if (data[z].empty == True):
        pass
    else:
        X1 = data[z].iloc[:,2:7 ]
        X2 = data[z].iloc[:,8: ]
        X = pd.concat([X1,X2], axis=1)
        y = data[z]["Close"]

        from sklearn.linear_model import LinearRegression
        lin_model = LinearRegression()
        lin_model.fit(X,y)
        lin_model.score(X,y)
        pred=lin_model.predict(X)
        lin_model.score(X,pred)
        dateIn =list(X.index)
        train_pred=pred.tolist()
        result = pd.DataFrame(zip(dateIn, train_pred),
                       columns =['date', 'pred_close'])
        import os
        result.to_csv(os.path.join(r"C:\Users\Gautam Aggarwal\Desktop\assignment\output", z + ".csv"),
                      index = False)